@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Montserrat:wght@200;300;400&family=Oswald:wght@200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');

:root {
  --background: #141414;
  --background3: #354649;
  --grey: #272628;
  --mid-grey: #6C7A89;
  --green: #A3C6C4;
  --light-grey: #E0E7E9;
  --white: #FFFFFF;
  --red: #F54525;
  --lato: 'Lato', sans-serif;
  --mont: 'Montserrat', sans-serif;
  --oswald: 'Oswald', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  height: 100vh;
  font-family: var(--lato);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar a {
  color: var(--white)
}

.navbar .logo a {
  color: var(--red);
  font-family: var(--mont);
  /* font-style: italic; */
  letter-spacing: 0.7px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: var(--background);
  
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  color: var(--white);
  text-align: center;
  padding: 3em;
}

.hero .first-hero-text {
  margin-bottom: 1em;
  font-family: var(--mont);
}

.hero .bold-italic {
  font-style: italic;
  color: var(--red);
}

.hero .underline {
  border-bottom: 2px solid var(--red);
  padding-bottom: 0.1em;
}

.contact {
  display: flex;
  justify-content: center;
  margin: 3em auto;
  width: 200px;
  font-weight: bolder;
  font-size: 1.15rem;
}

.contact i {
  margin-right: 0.5em;
  color: var(--red);
}

section {
  padding: 4em 2em;
}

.about {
  background-color: var(--white);
  color: var(--background);
}

.about-titles {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title-big {
  font-size: 6rem;
  color: var(--red);
  z-index: 6;
  overflow: hidden;
  position: absolute;
  opacity: 5%;
}

.about-title-small {
  z-index: 7;
  position: absolute;
  font-size: 3rem;
  border-bottom: 2px solid var(--red);
}

.about-section {
  margin-top: 5em;
  text-align: center;
}

.about-section span {
  color: var(--red);
  font-weight: bolder;
  font-style: italic;
}

.card-section {
  margin-top: 2.5em;
}

.card-section h2 {
  text-align: center;
  font-size: 2rem;
  
}

.card-section p {
  text-align: center;
}

.card-section .card {
  height: 100px;
  width: 160px;
  background-color: #F2F2F2;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--roboto);
  font-weight: 700;
  box-shadow: 0 0 10px 1px #d0d0d0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 32%;
}

.card-section .card i {
  font-size: 40px;
  margin: 0.1em 0;
  color: var(--red);
}

.cards-container {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards p {
  font-size: 13px;
  text-align: center;
}

.social-section, .social-links {
  margin-top: 3em;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.social-links {
  margin: 10px;
  border-radius: 50%;
  color: var(--white);
  width: 50px;
  height: 50px;
}

.github {
  background-color: var(--background);
}

.linkedin {
  background-color: #0077b5;
}

.instagram {
  background-color: #DE1b85;
}

