@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Montserrat:wght@200;300;400&family=Oswald:wght@200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');

:root {
  --background: #141414;
  --background3: #354649;
  --grey: #272628;
  --mid-grey: #6C7A89;
  --green: #A3C6C4;
  --light-grey: #E0E7E9;
  --white: #FFFFFF;
  --red: #F54525;
  --lato: 'Lato', sans-serif;
  --mont: 'Montserrat', sans-serif;
  --oswald: 'Oswald', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  height: 100vh;
  font-family: var(--lato);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar a {
  color: var(--white)
}

.navbar .logo a {
  color: var(--red);
  font-family: var(--mont);
  /* font-style: italic; */
  letter-spacing: 0.7px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2em;
  background-color: var(--background);
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.6s;
}

.sticky {
  background-color: var(--white);
  padding: 1.8em 2em;
  position: fixed;
  transition: all 0.6s;
}

.sticky ul li a {
  color: var(--background);
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  color: var(--white);
  text-align: center;
  padding: 3em;
}

.hero .first-hero-text {
  margin-bottom: 1em;
  font-family: var(--mont);
}

.hero .bold-italic {
  font-style: italic;
  color: var(--red);
}

.hero .underline {
  border-bottom: 2px solid var(--red);
  padding-bottom: 0.1em;
}

.button-container {
  background-color: var(--red);
  display: inline-block;
  margin-top: 2em;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}

.button a {
  color: var(--white);
}

.button {
  padding: 10px 15px;
  font-size: 1.1rem;
}

.button i {
  margin-right: 5px;
}



section {
  padding: 4em 2em;
  position: relative;
}

section#home {
  padding: 1em 0;
}

.about {
  background-color: var(--white);
  color: var(--background);
}

.about-titles {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title-big {
  font-size: 4.8rem;
  color: var(--red);
  z-index: 6;
  overflow: hidden;
  position: absolute;
  opacity: 5%;
}

.about-title-small {
  z-index: 7;
  position: absolute;
  font-size: 3rem;
  border-bottom: 2px solid var(--red);
}

.about-section {
  margin-top: 5em;
  text-align: center;
}

.about-section span {
  color: var(--red);
  font-weight: bolder;
  font-style: italic;
}

.card-section {
  margin-top: 2.5em;
}

.card-section h2 {
  text-align: center;
  font-size: 2rem;
}

.card-section p {
  text-align: center;
}

.card-section .card {
  height: 100px;
  width: 160px;
  background-color: #F2F2F2;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--roboto);
  font-weight: 700;
  box-shadow: 0 0 10px 1px #d0d0d0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
}

.card-section .card i {
  font-size: 40px;
  margin: 0.1em 0;
  color: var(--red);
}

.cards-container {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards p {
  font-size: 13px;
  text-align: center;
}

.social-section, .social-links {
  margin-top: 2em;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.social-links {
  margin: 10px;
  border-radius: 50%;
  color: var(--white);
  width: 50px;
  height: 50px;
}

.social-links i {
  color: var(--white);
}

.github {
  background-color: var(--background);
}

.linkedin {
  background-color: #0077b5;
}

.instagram {
  background-color: #DE1b85;
}

.portfolio {
  background-color: var(--background);
}

.portfolio-titles {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .portfolio-title-big {
  font-size: 2rem;
  color: var(--red);
  z-index: 6;
  overflow: hidden;
  position: absolute;
  opacity: 5%;
} */

.portfolio-title-small {
  color: var(--white);
  z-index: 7;
  position: absolute;
  font-size: 3rem;
  border-bottom: 2px solid var(--red);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  font-size: 2rem;
  color: var(--white);
}

@-webkit-keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-o-keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
.loading span {
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: opacity;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: opacity;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  color: var(--red);
  margin-left: 3px;
}
.loading span:nth-child(2) {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  -ms-animation-delay: 100ms;
  -o-animation-delay: 100ms;
  animation-delay: 100ms;
}
.loading span:nth-child(3) {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  -ms-animation-delay: 300ms;
  -o-animation-delay: 300ms;
  animation-delay: 300ms;
}

.contact-section {
  background-color: var(--white);
  color: var(--background);
  width: 100%;
}

.contact-titles {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .contact-title-big {
  font-size: 3.2rem;
  color: var(--red);
  z-index: 6;
  overflow: hidden;
  position: absolute;
  opacity: 5%;
} */

.contact-title-small {
  z-index: 7;
  position: absolute;
  font-size: 3rem;
  border-bottom: 2px solid var(--red);
}

.contact-section form {
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-content {
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-content h2 {
  margin-top: 2em;
  font-size: 1rem;
  text-align: center;
}

.contact-content span {
  font-style: italic;
  color: var(--red);
  font-weight: bolder;
}

.contact-content .email {
  border-bottom: 2px solid var(--red);
  cursor: pointer;
}

.footer-content{
  margin: 2em 2em;
  padding-bottom: 2em;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}